[2018-10-19 18:52] wongma7 opened #2 "RFC: versioning and releasing"
Goal: copy client-go https://github.com/kubernetes/client-go#versioning as much as possible.
- Start with 1.0.0: release 1.0.0 compatible with 1.12 k8s.io/* libraries and 2.0.0 compatible with 1.13 k8s.io/* libraries. Compatible meaning you can vendor this and k8s.io/* at the same time without trouble.
- Maintain release-1.x branches, starting with 1.12 and 1.13.
- For each release-1.x branch, mai

[2018-10-22 07:39] jsafrane commented on #2
Would it make sense to have the same numbering as either client-go or kubernetes releases?

[2018-10-22 14:47] wongma7 commented on #2
i would like to copy kubernetes releases but there is a small chance we may break our little interface again in which case we want to be able to increment the major version without getting "out-of-step".

Maybe we could suffix each release with its corresponding kube release, it may be more confusing than useful though

[2018-10-23 13:54] jsafrane commented on #2
Can we follow client-go then? It bumps major version pretty often :-)

[2018-10-23 14:06] wongma7 commented on #2
Yeah I can't think of a strong reason not to follow client-go..maybe because starting at v9.0.0 feels bad. If no objections I'll tag a v9.0.0 and v10.0.0-alpha later to match client-go... They basically release a x.0.0 every kubernetes release, and they have only made 1 bugfix release (v5.0.1) in the past. Prior to that their versioning was nonexistent/messy.

[2018-12-21 00:07] rmb938 opened #5 "PV Protection breaks deleting"
If a user deletes a PV while it has a PVC with a pv protection finalizer the CSI never gets alerted to delete the volume when the pvc is deleted.

Related Issue: https://github.com/kubernetes-csi/external-provisioner/issues/195

It seems like https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/controller/controller.go#L860 is the problem.

Without a fix it is very e

[2018-12-21 00:53] msau42 commented on #5
cc @wongma7 @jsafrane

[2018-12-21 01:36] rmb938 commented on #5
It probably would be useful to add external-provisioner finalizer and check if the existence of that. If it exists than delete the pv. If it doesn't return false as normal.

[2019-01-03 09:41] cofyc opened #9 "RFC: Simplify class properties getters"
Currently, there are many private functions to retrieve properties of class:

- getStorageClassFields
- fetchReclaimPolicy
- fetchMountOptions
- fetchAllowedTopologies

This part of code has been duplicated many times:

[code]

Actually, rest of function does not contain much logic code.

How about unify these into one function which just returns a `*storage.StorageClass` object with optional erro

[2019-01-03 09:41] cofyc commented on #9
cc @wongma7 What do you think?

[2019-01-03 14:57] iyurev opened #11 "*Limiter type error in conntroller.go"
Good day!
I have some problem , when try install library :

[code]

[2019-01-07 15:56] #5 closed

[2019-01-08 16:54] wongma7 commented on #11
are you using a tool like https://github.com/golang/dep to manage your dependencies? dep will automatically delete ./vendor/k8s.io/client-go/vendor so that it doesn't conflict with other things in ./vendor

[2019-01-10 17:08] wongma7 commented on #9
this sgtm

[2019-01-14 02:48] fatsheep9146 commented on #9
I would like to help with this.
/cc @cofyc

[2019-01-22 15:48] ariep opened #18 "unknown field 'Cap' in struct literal of type wait.Backoff"
[code]
This is introduced by ac882d9c68b5ace8fdb17535a9ed1d335ebd5cef. Am I missing a constraint on a dependency version?

[2019-01-23 05:49] moonek opened #20 "PV can't be deleted manually, if the reclaimpolicy is 'retain'"
When the reclaimpolicy is `retain`, PV is stuck at terminating after delete manually.
[code]
I guess that's because the `finalizer` for PV is not removed.
[code]

If delete that `finalizer` manually, PV will be deleted normally.

I know that it will not send any requests to the provisioner if reclaimpolicy  is `retain`.
If so, who can erase that `finalizer`?

(Tested K8s Version: v1.10.11)

[2019-01-23 09:00] ariep commented on #18
I see, thanks.

Let's assume I want to stay with kubernetes 1.13 for now. The 2.1.0 release contains the problematic commit, so I can't use that, right? The release info says "Use with 1.13 kubernetes libraries (k8s.io/client-go kubernetes-1.13*, k8s.io/apimachinery kubernetes-1.13*, etc.)" but that's not correct then?

Go newbie question: how do I specify a release in the `Gopkg.toml`? I can spec

[2019-01-23 09:11] wongma7 commented on #18
The commit is there in the 1.13 branch and 2.1.0, but I amended it so it
works with 1.13.

For version, try ‘version = “v2.1.0”’ instead of ‘branch = ...’

On Wed, Jan 23, 2019 at 4:00 AM Arie <notifications@github.com> wrote:

[2019-01-23 13:32] wongma7 commented on #18
yes let's call it a backport...

For glog, anything will work. For k8s.io/* repos, generally you want them all to be the same version, so I would recommend setting 'version = "kubernetes-1.13.1"' for all of them in your Gopkg.toml and doing `dep ensure` again. You should only need to worry about dependency stuff if things don't compile, hopefully dep is smart enough to figure it out for you.

[2019-01-23 16:17] #18 closed

[2019-01-23 16:46] wongma7 commented on #20
A possible issue is if somebody edits the PV's reclaim policy after the provisioner has decided whether to put the finalizer on it. But that will require the provisioner to watch the PVs, I am not sure it is worth the trouble.

[2019-02-05 20:39] wongma7 opened #26 "Periodically check that master branch works with k8s.io/* master dependencies"

[2019-02-06 14:21] wongma7 commented on #26
Also, could check in Gopkg.lock but not Gopkg.toml to record the latest known working version https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/25#discussion_r254061837

[2019-02-13 02:26] dims opened #30 "failure running against k8s.io/ master"
`make verify` fails with

[code]

[2019-02-13 02:50] #30 closed

[2019-03-05 15:06] CommanderJax commented on #30
@dims Has this been fixed? I'm experiencing the same issue when attempting to build the example hostpath provisioner.

[2019-03-05 15:51] dims commented on #30
@CommanderJax if you have my change from https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/31 (should be in master), then you should make sure that your `sig-storage-lib-external-provisioner` directory is under your `$GOPATH/src/sigs.k8s.io/` Then it will work. please try and let me know.

[2019-03-05 16:02] CommanderJax commented on #30
@dims Thanks for referencing the issue, it makes sense now. The example hostpath provisioner's dependency path hasn't been updated which resulted in old lib being pulled.

https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/examples/hostpath-provisioner/Gopkg.toml#L34

Needs to be replaced with:

[[constraint]]
  branch = "master"
  name = "sigs.k8s.io/sig-storage-l

[2019-03-06 07:30] cofyc opened #36 "Using sigs.k8s.io?"
How about using shorter URL prefix sigs.k8s.io which redirects to https://sigs.k8s.io?

[2019-03-06 23:27] msau42 commented on #36
I think it's done? https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/31

[2019-03-07 02:45] cofyc commented on #36
Oh, didn’t check latest master.
/close

[2019-03-07 02:45] #36 closed

[2019-04-05 14:13] #9 closed

[2019-04-16 23:15] pure-yesmat opened #42 "PV stuck in Release/Terminated state"
We ran into the case where the PVC was deleted and the DeletionTimestamp was set on the PV. Example:

[code]

It seems this line is the cause of the issue:

https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/1ac0505e75cdb0524aec7f78b7c9ba99716208e4/controller/controller.go#L1115

This was added in commit: https://github.com/kubernetes-sigs/sig-storage-lib-external-provisi

[2019-04-25 02:28] fengye87 opened #43 "Volume expansion support?"
Any plan to support volume expansion?

[2019-04-29 19:09] verult opened #44 "Cache Node objects"
Copy of https://github.com/kubernetes-incubator/external-storage/issues/912

https://github.com/kubernetes-incubator/external-storage/pull/902 introduces topology plumbing through the library, which includes a Node get call for every volume provision operation. Since CSI depends on this library and all volumes will go through CSI in the future, we need to consider caching Node objects.

https://gi

[2019-05-13 07:59] tkokok opened #45 "dep init failed with "No versions of golang.org/x/crypto met constraints""
I have try many times and some versions of golang(1.10.8,1.11.5,1.12.5)/dep but it still not work, plz help me.  error stack following, after cmd "dep init" .
I can only create the vendor dir manualy and use "go get xxx" instead >.< , is there any solution ?
by the way, I'm working on PaaS layer and now try to integrate a new storage solution instead of the old one. I just wana use this library to

[2019-05-21 12:56] shenlanse opened #47 "make failed"
[code]

[2019-06-06 07:30] iyurev opened #48 "Logs to console"
Good day!

How can I enable send provisioner logs to stderr or stdout, in glog documentation explain this case , but look like in https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/controller/controller.go there is no implementation for this..

[2019-06-06 07:39] jsafrane commented on #48
The library itself does not control destination of logs, it's task either for an application that uses the library or (more often) user that uses the app. Check glog / klog command line arguments: https://godoc.org/github.com/golang/glog. This has worked for me for debugging: `</bin/provisioner> -alsologtostderr -v 5`.

I've seen various apps forcing stderr using this: https://github.com/kubernete

[2019-06-07 08:42] rajch opened #49 "ServiceAccount for provisioner requires "update" verb on "endpoint" resources"
In the past, I have seen provisioners run successfully with a ServiceAccount bound to either of the following two ClusterRoles:
- system:persistent-volume-provisioner
- system:controller:persistent-volume-binder

However, the controller seems to want permissions to the "update" verb on "endpoint" resources, which neither of the above provide. I solved my problem by creating a custom ClusterRole. T

[2019-06-07 08:49] rajch commented on #48
I have also faced this problem. No matter what arguments I pass to my app, log messages in the controller _always_ go to log files only. Logging in my app itself respects the command line arguments.

[2019-06-07 09:42] jsafrane commented on #48
Could it be caused by klog / glog mismatch in your app? lib-external-provisioner
 switched to klog recently.

[2019-06-07 10:41] rajch commented on #48
Thank you. That was the problem.

[2019-06-07 19:06] iyurev commented on #48
Thank you guys!  It solved my problem.

[2019-06-07 19:06] #48 closed

[2019-06-19 18:05] wongma7 commented on #47
This looks like a transient issue if k8s.io was down. Also, please try `mv .Gopkg.toml Gopkg.toml` as it should have everything populated already although there is no guarantee it will build on master branch

[2019-06-19 18:05] #47 closed

[2019-06-19 18:09] wongma7 commented on #43
No, you'll have to write a CSI driver. https://github.com/NetApp/trident has a resize controller somewhere but I don't think it's in library form.

[2019-06-19 18:09] #43 closed

[2019-06-19 18:11] wongma7 commented on #45
Not sure about this, sorry. From googling around it seems like an issue with dep's local cache. Please try using the existing toml and `mv .Gopkg.toml Gopkg.toml` and make sure you're on a release branch/tag. Probably the repo should move to go.mod soon.

[2019-06-19 18:11] #45 closed

[2019-06-19 18:13] wongma7 commented on #26
travis job has been running and caught an API change once or twice.
I haven't checked in Gopkg.toml yet (still hidden .Gopkg.toml)
At this point should probably just move to go modules.

[2019-06-19 18:13] #26 closed

[2019-06-19 18:14] wongma7 commented on #2
versioning seems okay now.

we can't copy client-go after all since we want to be able to make breaking changes outside of kube release cycle like with v4.0.0

[2019-06-19 18:14] #2 closed

[2019-06-19 18:15] wongma7 commented on #20
finalizer was turned off by default, closing for now.

[2019-06-19 18:15] #20 closed

[2019-06-19 18:19] wongma7 commented on #42
if you updated the provisioner to a recent version where the finalizer feature is off by default then the PV won't be deleted if it was created by an earlier version of the provisioner where the finalizer feature was on by default. This means you will have to either reconfigure the provisioner to turn the finalizer feature on (pass AddFinalizer(true) to the controller) or remove the finalizer manu

[2019-06-19 18:19] #42 closed

[2019-06-21 00:03] wongma7 commented on #49
Yes, RBAC requirements need to be documented and versioned. The controller used to use PVC's as locks but now it uses endpoints. There is a TODO to default to Leases instead since touching endpoints can have security & performance issues. You can disable leader election altogether, it's mainly to avoid controllers racing and hitting Provision API unnecessarily
/assign

[2019-08-07 14:01] jsafrane opened #52 "Provisioner logs "success" for unrelated PVCs"
For every PVC in the cluster all provisioners in the cluster logged:

[code]

This is confusing, as it was logged also for PVCs that should be ignored by the provisioner (e.g. they're already provisioned or have unrelated `provisioner:`).

[2019-08-26 11:16] iyurev opened #54 "dep ensure -update problem"
Good day!
Do you can remove commented line:  ```// import "sigs.k8s.io/sig-storage-lib-external-provisioner/controller"``` in  ```doc.go```  package controller . ??

Or explain what   I do wrong?? ))

When I try run: ```dep ensure -update  -v``` it raises exception:

[code]

For test I used fork of this repository  ( https://github.com/iyurev/sig-storage-lib-external-provisioner/blob/master/contro

[2019-09-12 12:17] jsafrane opened #55 "Provisioner should not ignore AreadyExists error when saving PVs"
Related to https://github.com/kubernetes-csi/external-provisioner/issues/340 - when two provisioners (or in-tree and external provisioner) provision a volume, the faster one succeeds and creates a PV. When the second provisioner finishes provisioning another volume, it tries to save PV with the same name and potentially different spec and it succeeds:

https://github.com/kubernetes-csi/external-pr

[2019-09-13 10:50] jsafrane commented on #55
I don't think there are any backward compatibility issues, unless two provisioners are running at the same time and depend on the PV naming.

On the other hand, with Retain reclaim policy we may be piling up empty PVs that were never used.

[2019-09-22 04:37] rajch commented on #49
/remove-lfecycle stale

May I volunteer to (as a stopgap) update the README with RBAC requirements?

[2019-09-27 19:34] jfremy opened #56 "Deleting a PV with reclaim policy 'retain' does not delete backing volume"
I’ve been seeing something that looks like a weird behavior with dynamically provisioned volumes when their reclaimPolicy is set to retain.
If I delete a bound PVC and then delete the PV manually, the backing volume is not deleted by external-provisioner (it never issues a CSI deleteVolume call).
Reading the k8s doc about reclaimPolicy, my understanding is that it only represents the behavior of t

[2019-09-27 23:29] wongma7 commented on #56
Yes, you misunderstood. A PV is a one-way link/pointer to a backing volume. It exists solely so that kubernetes workloads can read/write it via a PVC. I would interpret the doc's omission of the PV deletion case to mean that nothing happens when a Released PV is deleted.

[2019-11-18 12:43] MartinX3 commented on #54
I wonder why no one answers.
I get the same problem

Import in Gopkg.toml
[code]

Import in go file
`"github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/controller"`

[2019-11-18 12:54] MartinX3 commented on #54
@iyurev

Do in the `Gopkg.toml`
[code]

and in your go file
`"sigs.k8s.io/sig-storage-lib-external-provisioner/controller"`
as the import.

Don't use the github address.
Now it works here.

[2019-11-21 06:18] #49 closed

[2019-12-20 10:03] 27149chen opened #58 "Deleting a PVC with a "Terminating" PV does not delete the backing volume"
**What happened**:
Deleting a PVC with a "Terminating" PV does not delete the backing volume.

**What you expected to happen**:
The backing volume should be deleted.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a pvc.
2. Wait till pvc and pv are created, and pvc status is "Bound".
3. Delete the pv, the pv will enter "Terminating" status.
4. Delete the pvc.

**Anythi

[2019-12-23 04:55] 27149chen commented on #58
@wongma7  @jsafrane  @childsb please have a look.

[2020-01-02 06:20] 27149chen commented on #58
/ bug

[2020-01-02 06:49] silenceshell opened #59 "annSelectedNode in kube v1.11.0 is not "volume.kubernetes.io/selected-node""
[code](https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/controller/controller.go#L1243)

[code]

It checks the kube version should at least v1.11.0, and if success it get annotation `annSelectedNode`, which is `volume.kubernetes.io/selected-node`.

However the annotation in v1.11.0 is `volume.alpha.kubernetes.io/selected-node`.

Should we add support for v1.11.x

[2020-01-06 09:57] jsafrane commented on #58
This is basically duplicate of https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/issues/56. Reclaim policy is initiated by PVC deletion. Users should not delete PVs, as it's going to mess up the reclaim policy.

[2020-01-06 11:27] 27149chen commented on #58
Yes, both cases point to "shouldDelete", but I don't think it is duplicate. Users should not delete PVs, but what if it is a mistake? k8s has a mechanism to prevent it from being deleted by mistake, also, I think k8s should ensure when such a mistake happen, user is able to clean up this pv and its backing volume.
what do you think?

[2020-01-06 19:17] wongma7 commented on #58
Would rather leak a backing volume than delete it and risk unintentional data loss. It's probably dangerous to change this behavior at this point. Generally users should not be given write access to PVs in the first place so I don't think it is worth the risk to make such a change.

[2020-01-20 12:05] candlerb commented on #43
May I ask: is there is a fundamental reason why an external provisioner could not watch PVCs and resize PVs?  Or is it just lack of time to implement in sig-storage-lib-external-provisioner?

The [volume provisioning](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/volume-provisioning.md) document doesn't mention growing volumes.  It does however talk abou

[2020-01-20 19:27] wongma7 commented on #43
The main reason is I want to steer developers to CSI and I don't want to duplicate the efforts of CSI.

Have a look at https://github.com/kubernetes-csi/external-resizer.

Technically it should be possible to consume the pkg/controller at https://github.com/kubernetes-csi/external-resizer/tree/master/pkg/controller by implementing the Resizer interface at https://github.com/kubernetes-csi/external

[2020-01-20 20:24] candlerb commented on #43
Understood, thank you.

The reason is I have been using the [local-zfs-provisioner](https://github.com/asteven/local-zfs-provisioner) which uses the external volume provisioner interface to create a zfs dataset of the requested size.  I was wondering whether it would be possible to extend it to support growing volumes - which at the backend is as simple as updating the "quota" parameter on the dat

[2020-02-10 13:04] #55 closed

[2020-02-11 19:26] wongma7 opened #65 "Use go modules"

[2020-02-25 01:44] #56 closed

[2020-03-17 16:10] #54 closed

[2020-03-23 17:35] #65 closed

[2020-03-27 07:54] lingxiankong opened #70 "Not compatible with Kubernetes v1.18.0"
When an application uses modules from Kubernetes v1.18.0, e.g. https://github.com/kubernetes/cloud-provider-openstack/pull/991/files#diff-37aff102a57d3d7b797f152915a6dc16, the build failed with:
[code]

[2020-04-06 12:46] ankitjain87 opened #72 "NFS Provisioner support for PersistentVolume Resizing?"
Hi,

I am using NFS provisioner to provision PersistentVolume, and k8s now supports volume resizing, I was thinking if NFS Provisioner supports that? From the code, it looks it doesn't. Just wanted to know is there any plan to support the resizing?

Ref - https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/

Thanks!

[2020-04-13 04:10] medyagh opened #74 "is it possible to use bump client-go in go.mod?"
in minikube we like to update to latest kubernetes version lib, but only conflict is

[code]

https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/987d4fb2ebd4504078590770b8ed860c15475965/go.mod#L15

[2020-04-17 08:00] jsafrane commented on #70
Fixed by #73
/close

[2020-04-17 08:00] #70 closed

[2020-04-17 08:00] jsafrane commented on #74
Fixed by #73

[2020-05-26 16:43] momiji opened #76 "Change versionning to follow go-client and k8s api versions?"
First of all, great job!

I was trying to upgrade one of my provisioner and couldn't understand why it didn't compile, with so many missing context everywhere.
I finally noticed I was using v0.18.2 of the k8s api, and not 0.17.3 which is what is proposed in the go.mod here.
I was wondering if it is possible to use the same versionning strategy as other projects like client-go for example https://g

[2020-05-31 09:22] #59 closed

[2020-06-04 21:07] #58 closed

[2020-06-06 01:52] msau42 opened #77 "Use klog instead of glog"
I think logs from the library are not getting printed out with csi-provisioner because of this.

/kind cleanup
/help

[2020-06-12 09:52] hzliangbin commented on #77
@msau42 there was a PR #21 related to this issue but closed.

[2020-06-12 16:19] msau42 commented on #77
Unsure why it was closed. @humblec do you have background on that?

[2020-06-13 10:11] humblec commented on #77
Neither me :(. Quite old PR and attempt so forgot the exact reason. I would have marked why it was closed in the PR comment atleast. Any way,  reopening and working on getting it done.

[2020-06-13 10:11] humblec commented on #77
/assign @humblec

[2020-06-15 05:32] hzliangbin commented on #77
@msau42  @humblec  The upstream k8s project has updated from klog v1 to klog v2. maybe we should migrate glog to klog v2.

kubernetes/kubernetes#90183

[2020-06-24 11:15] pohly opened #80 "examples/hostpath-provisioner: make does not always rebuild"
Invoking "make" multiple times in examples/hostpath-provisioner does not rebuild the binary even if the source code has changed.

[2020-06-24 11:17] pohly opened #81 "make test: also test that building the example works"
The prow jobs don't check that examples/hostpath-provisioner is in a healthy state.

Either "make test" or "make build" should cover that. I'm leaning to "make test", but that's debatable.

[2020-06-30 16:13] RaunakShah opened #82 "Replace k8s client with listers"
In a recent run to determine the performance baseline for external-provisioner, the throughput increased by almost 2x when using listers in lib-external-provisioner for create and delete operations.
Ref: https://github.com/kubernetes-csi/external-provisioner/pull/447#discussion_r445781030

A large chunk of `Get()` requests to the API server were throttling the API server.
Filing this issue to have

[2020-07-05 15:45] ankitjain87 commented on #72
/remove-lifecycle stale

[2020-08-14 03:16] c-x-berger opened #85 "Conflicting READMEs leave reader in infinite loop"
According to this repo's current README:

However, the README on the referenced external-storage repository says the following:

There seems to be a vicious cycle here.

[2020-08-15 16:47] k2huang opened #87 "PV stuck in released/terminating state even if CSI DeleteVolume action has been executed successfully"
In our K8s cluster, in order to PV couldn't disappear before volume is successfully deleted via csi plugin, we enable `AddFinalizer` option for `ProvisionController`.

But we encounter many terminating PV objects even if CSI DeleteVolume action has been executed successfully. Error logs as following:
[code]

After reading source code, I find some hints:
ProvisionController will delete PV Object af

[2020-08-15 16:48] k2huang commented on #87
/assign

[2020-08-29 17:24] jtackaberry commented on #85
I myself am caught in this loop, wondering what, if anything, will supplant the now-deprecated nfs-client-provisioner.

[2020-09-11 14:39] marvelous-melanie commented on #85
Agreed. Spent way too much time trying to find a maintained NFS provisioner.

[2020-09-14 09:40] #74 closed

[2020-09-15 17:41] msau42 commented on #77
/remove-lifecycle stale

[2020-09-22 15:36] pohly commented on #80
/remove-lifecycle stale

[2020-09-22 15:36] pohly commented on #81
/remove-lifecycle stale

[2020-10-01 13:45] jgato opened #90 "shared folder perms"
Hi all,

Which perms should have the directory that is going to be exported/shared? What is your recommendation?

regards,

[2020-10-02 20:34] pierluigilenoci opened #91 "efs-provisioner"
I am opening this ticket because I wanted information about efs-provisioner. The repo that contained it has been archived https://github.com/kubernetes-retired/external-storage/ and I have not found any information on the future of the project. Can you help me? Maybe @wongma7 ?

Ref: https://github.com/kubernetes-retired/external-storage/tree/master/aws/efs

[2020-10-02 20:51] wongma7 commented on #91
I recommend moving to https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner . It is a generic and less opinionated ( does not try to validate stuff) version of the efs provisioner

[2020-10-05 14:15] pierluigilenoci commented on #91
I'll try this new provisioner. Thank you.

[2020-10-08 15:55] jdmaguire commented on #85
I'm glad I'm not the only one confused.

[2020-10-08 16:10] msau42 commented on #85
@wongma7 @kmova can you help fix up the readmes to point to the new repos for the nfs provisioners?

[2020-10-08 21:25] wongma7 commented on #85
/assign

Yes let me clean it up

[2020-10-08 21:50] wongma7 commented on #85
PTAL https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/93 apologies for confusion caused : (

[2020-10-08 22:11] #85 closed

[2020-10-09 15:28] jdmaguire commented on #85
Thanks @wongma7

[2020-10-13 02:02] wongma7 opened #95 "TestController/try_to_provision_for_claim-1_but_fail_to_save_the_pv_object is flaky"
Example: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_sig-storage-lib-external-provisioner/92/pull-sig-storage-lib-external-provisioner-build/1315561132156522496

I think this log message is suspect, I don't remember seeing it when I wrote the test  W1012 07:58:33.836830   11699 shared_informer.go:488] resyncPeriod 100000000 is too small. Changing it to the minimum a

[2020-10-13 17:55] msau42 opened #96 "cleanup aliases to glog"
There are areas of the code that aliased klog to glog because it would be too many lines to change. We should clean those up.

https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/896be1e22d769b7f3e6d10a404b8323f0575ba82/controller/controller.go#L54

/help
/good-first-issue

[2020-10-14 15:33] Evalle commented on #96
Hey @msau42 I can work on it.
/assign

[2020-10-15 01:49] lianghao208 commented on #96
/assign

[2020-10-15 07:04] Evalle commented on #96
Hey guys, I'm pretty sure there was some misunderstanding :) I have assigned this issue for me and I can see that @lianghao208 has assigned it as well afterwards, and even created PR.  So @msau42 now you have two PR :)

[2020-10-15 23:51] msau42 commented on #96
Sorry for the confusion. Since @Evalle offered to help first I'm going to review his pr.

Also removing label to avoid further confusion
/remove-label help-wanted

[2020-10-15 23:52] msau42 commented on #96
/remove-help

[2020-10-19 19:48] #96 closed

[2020-10-23 19:01] #76 closed

[2020-10-29 00:49] msau42 commented on #77
This should be addressed now
/close

[2020-10-29 00:50] #77 closed

[2020-11-17 06:49] k2huang commented on #87
/remove-lifecycle stale

[2020-11-22 11:47] chadlwilson commented on #91
Hi @wongma7 - do you know of a migration guide/suggestion/procedure somewhere for transitioning from the `efs-provisioner` to the `nfs-subdir-external-provisioner` for those with existing production systems and PVCs/PVs?

I'm trying to assess what we might be getting into with such a migration to a supported option (c.f switching to the EFS CSI driver, which is obviously an alternative).

Do you h

[2020-11-23 08:27] pierluigilenoci commented on #91
@chadlwilson I'm sorry but I haven't started migrating to the new provider yet so my experience is limited. I am waiting for the migration of the chart before starting to do the job once. Ref: https://github.com/helm/charts/issues/21103

@verwilst is the chart maintainer, maybe he can help you better.

[2020-11-27 17:40] #82 closed

[2020-12-02 14:36] pohly opened #99 "reduce traffic by caching Node objects"
There's an old TODO in the code about this: https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/d3bf59bdaee853cb123e131614f00eabfbedd95d/controller/controller.go#L1331

Scale testing shows that this is causing significant traffic when provisioning many volumes with selected node: 80kB/s for GET of Nodes, followed by 1.7kB/s for GET of CRDs.

Link to results (likely to go s

[2020-12-02 14:38] pohly commented on #99
Is an informer the right solution? It's less precise than doing a GET (local cache might be stale), but I suppose any caching solution has that problem.

We also need to be aware that the provisioner then gets informed about *all* nodes, even when it only ever needs a handful of nodes in a larger cluster.

[2020-12-02 19:25] wongma7 commented on #99
external-provisioner controller already has an informer, maybe we should deprecate `SelectedNode *v1.Node` and pass `SelectedNode *string` to `Provision` instead, leaving it up to the `Provisioner` how to retrieve a Node object (and its topology)? https://github.com/kubernetes-csi/external-provisioner/blob/89079cfeb84cbbfcda976504d46e6b2b8352adb7/cmd/csi-provisioner/csi-provisioner.go#L216

I am n

[2020-12-02 19:29] wongma7 commented on #99
Or, to follow the existing pattern https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/controller/controller.go#L473, accept a NodeInformer as an argument so if external-provisioner controller already has one it can pass it in, if not, this controller will create one.

[2020-12-03 07:33] pohly commented on #99
So let's use an informer. I would leave the current behavior unchanged (i.e. use GET as fallback) and let the caller decide whether it wants to use an informer.

[2020-12-03 17:51] #99 closed

[2021-01-11 08:33] pohly commented on #80
/remove-lifecycle stale
/lifecycle frozen

[2021-01-11 08:33] pohly commented on #80
/help-wanted

[2021-01-11 08:34] pohly commented on #81
/remove-lifecycle stale
/lifecycle frozen

[2021-02-11 10:46] jgato commented on #90
any help about this?

[2021-02-22 07:53] pierluigilenoci commented on #91
/remove-lifecycle stale

[2021-03-13 11:03] #90 closed

[2021-04-16 09:25] #87 closed

[2021-04-28 03:46] zxDiscovery opened #105 "How to resize the PVC"
My current storageclass enable `allowVolumeExpansion: true`. Then I edit the PVC directly use the command `kubeclt edit pvc ` and change the request storage value.

Now I describe the pvc and get the error message as follows:
[code]

The current pod of kube-controller-manager also show the log as follows:
[code]

I saw some hack mothed to build own `kube-controller-manager` image and add the rbd c

[2021-04-28 06:40] zxDiscovery commented on #105
The kubernetes version
[code]

[2021-05-14 03:40] alex-vmw commented on #72
/reopen
/remove-lifecycle rotten

[2021-05-14 03:46] zhucan commented on #72
I think only  csi driver supports controllerExpandVolume is ok to resize nfs pvc.

[2021-05-14 10:58] ankitjain87 commented on #72
/reopen

[2021-06-23 22:58] wongma7 opened #107 "Release v7.0.0"
There is a breaking API change, NewController doesn't accept kubernetesVersion arg anymore.
Plus annDynamicallyProvisioned now gets set to class.Provisioner not ctrl.provisionerName

https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/104
https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/106

I believe I need to make a v7 directory and stuff, sti

[2021-06-25 19:42] wongma7 commented on #107
done https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/releases/tag/v7.0.0

[2021-06-25 19:42] #107 closed

[2021-07-22 09:45] #91 closed

[2021-07-22 10:33] chadlwilson commented on #91
I had forgotten about this issue, however if anyone else comes across it, in our case we found the migration to `nfs-subdir-external-provisioner` relatively painless. Needed to create new PVCs, but were able to do so on the same underlying EFS volume, migrate apps across and then remove the old PVCs and PVs before uninstalling the `efs-provisioner`.

In our case we didn't have data stored here tha

[2021-07-22 10:55] pierluigilenoci commented on #91
@chadlwilson To be honest we have migrated to Amazon EFS CSI Driver
Ref: https://github.com/kubernetes-sigs/aws-efs-csi-driver

[2021-09-07 15:33] aojea opened #111 "Migrate leader election to use Lease API"
Current leader election is using endpoints

https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/853cdd7cba6e20753071cdb3e07fe37a6f2fc5a3/controller/controller.go#L867

However, that has some problems and is recommended to use the Lease API instead

https://github.com/kubernetes/kubernetes/issues/80289

[2021-09-09 13:35] smileusd opened #113 "Why can not re-queue the object if exceed failure limit"
https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/853cdd7cba6e20753071cdb3e07fe37a6f2fc5a3/controller/controller.go#L942

link to https://github.com/kubernetes-csi/external-provisioner/issues/671

[2021-09-25 12:53] #105 closed

[2021-10-11 11:41] #72 closed

[2021-10-13 13:21] Gangadhar-ibm-lab opened #115 "pvc is keep on retrying infinite times even reached threshold value"
1) I am updating the sigs controller version from v4 to v7
2) Updated threshold value to 5
3) Tried to create the pvc with invalid region and zone details.
4) Pvc is failed to create, but it keeps on retrying even exceeded the threshold value

Expecting: Retrying the Provision should be stopped when it exceeds the threshold value

Note: It works fine for me when I am using sigs controller version

[2021-11-04 07:42] pbabilas opened #116 "Why shouldProvision break provisioning when VolumeName is set?"
Hi,
I'm trying to config my csi provisioner with luns, and I ca not sync anyhow pvc with pv. I mean all works fine bu I would like to set selectors or at least volumeName to my pvc to be bound.

I'd like to sets volumeName in my pvc yaml when its being created. If pv exists with name given then skip, when there is no pv with given name - create pv with this name.

I'd like to make pr with this cha

[2021-11-30 12:57] sikhlaqu commented on #115
I am also facing similar issue, **The "FailedProvisionThreshold()" settings DOESN'T Work** on V7 version. it Just keep on retrying indefinitely.  I just want my provisioner to Try PVC provision ONCE (earlier due to Storage-provider backend issues there were many Storage Order got placed and Quota was over, so I set FailedProvisionThreshold to ONE for my provisioner)
But with **Latest sig controlle

[2021-12-08 18:37] msau42 commented on #113
I agree we should always retry forever. It looks like the library supports setting 0 to mean retry forever, and we are setting it to 0 in external-provisioner:
https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provisioner.go#L354

Are you seeing different behavior?

[2021-12-10 09:00] wojtek-t commented on #111
/remove-lifecycle stale

Would someone be able to pick it up?

[2021-12-10 09:48] aojea commented on #111
/help

[2021-12-13 20:32] babubalagani opened #119 "F1213 20:28:27.814626 1 provisioner.go:247] Error getting server version: Get "https://10.96.0.1:443/version?timeout=32s""
I am running with k8s 1.20 version and i am using this way to configure the nfs dynamic provisioning , however it is failed

F1213 20:28:27.814626       1 provisioner.go:247] Error getting server version: Get "https://10.96.0.1:443/version?timeout=32s"

and the pod is keep restrting

[2022-02-02 16:24] NikhilSharmaWe commented on #111
/assign

[2022-02-02 16:27] NikhilSharmaWe commented on #111
@aojea Could you please help me understand how can we implement the solution suggested in this [comment](https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/pull/112#issuecomment-916799292). Could you please give some examples where we use this methodology.

[2022-02-02 16:40] aojea commented on #111
you have examples in the original issue linked https://github.com/kubernetes/kubernetes/issues/80289

There are references from other projects and you can see the different approaches taken there

[2022-02-06 19:20] #113 closed

[2022-03-02 17:49] pwschuurman opened #121 "Provisioner does not allow rescheduling if a Node is deleted after a pod is scheduled"
If a node is deleted while a pod is scheduled on a node (but before a claim is provisioned), a pod can become indefinitely stuck in a Pending state.

Typically when a failure occurs in provisioning, the provisioner will relinquish control back to the Scheduler, to reschedule the Pod somehwere else. This is done by removing the `volume.kubernetes.io/selected-node` annotation from the PVC. The contr

[2022-04-03 09:15] #116 closed

[2022-04-29 14:38] #115 closed, assigned to nobody

[2022-05-05 07:59] wojtek-t commented on #111
/remove-lifecycle stale

[2022-05-12 22:03] #119 closed

[2022-06-01 05:58] wojtek-t commented on #111
/reopen

This was migrated to EndpointsLeases (as expected). But in couple releases we should migrate to singular Lease.

[2022-07-20 11:33] rajch opened #123 "Error creating lock: endpoints lock is removed, migrate to endpointsleases"
On migrating from v6 to v8, my provisioner crashes with the following error:

[code]

I can suppress it by disabling leader election, but would like to know how to solve the problem.

[2022-07-20 12:00] rajch commented on #123
Found the problem. In the v8.0.0 tagged release, line 868 calls `resourcelock.New` with a hardcoded locktype of "endpoints", which is no longer supported. Here are the problem lines, in:
*// https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/v8.0.0/controller/controller.go*
[code]

This has been corrected in HEAD of the master branch, but a new release has not been made w

[2022-09-17 05:11] amolmote opened #126 "Broken link Issue"
## Bug Report
*Problem*
[This page ](https://github.com/kubernetes-sigs/sig-storage-lib-external-provisioner/blob/master/CONTRIBUTING.md) has one broken link of `contributor cheat sheet` which needs to fix.

*solution*
need to locate the correct path of README.

/assign
/kind bug
/kind documentation

[2022-09-19 12:27] #126 closed

[2022-09-22 06:19] rajch commented on #123
Could we have a new release, please?

[2022-10-13 17:38] amacaskill commented on #121
/reopen we just experienced this issue again.

[2022-10-13 17:39] amacaskill commented on #121
/remove-lifecycle rotten

[2022-10-13 17:39] amacaskill commented on #121
/reopen

[2022-11-14 09:02] Kartik494 opened #130 "Remove the glusterfs in-tree plugin reference from README as it was deprecated."
Remove the glusterfs in-tree plugin reference from README as it was deprecated. For more context please see
https://github.com/kubernetes/kubernetes/pull/112015

[2022-11-14 09:02] Kartik494 commented on #130
/assign

[2022-11-21 16:10] #130 closed

[2022-11-23 22:34] pwschuurman commented on #121
Repro using VolumeSnapshot to delay provisioning: https://gist.github.com/pwschuurman/fd9c8c50889ce2382bcdca259c51d3e4

1) Create a VolumeSnapshot that references a non-existent disk (or a disk that takes a lot of time to be copied in order for the VolumeSnapshot to become ready)
2) Create a PVC that references the VolumeSnapshot as a DataSource
3) Create a pod that references said PVC. Scheduler